<h1>Editing Book</h1>

<%= form_with model: @book do |f| %>

titleのフォーム
<%= f.text_field :title %>
bodyのフォーム
<%= f.text_area :body %>

Update Bookのボタン
<%= f.submit 'Update Book' %>

Showへのリンク Backへのリンク

<% end %>